.loader_top{
	background-color: #fff;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	z-index: 9999;
	width: 100%;
	height: 100%;
	text-align: center;
}

.wrap {
	position: relative;
	top: 45%;
	width: 50px;
	margin: 0 auto;
}

.loader {
	position: absolute;
	top: 0;
	z-index: 10;
	width: 50px;
	height: 50px;
	border: 15px solid;
	border-radius: 50%;
	border-top-color: rgba(44,44,44,0);
	border-right-color: rgba(55,55,55,0);
	border-bottom-color: rgba(66,66,66,0);
	border-left-color: rgba(33,33,33,0);
	animation: loadEr 3s infinite;
}

@keyframes loadEr {
	0% {
		border-top-color: rgba(44,44,44,0);
		border-right-color: rgba(55,55,55,0);
		border-bottom-color: rgba(66,66,66,0);
		border-left-color: rgba(33,33,33,0);

	}
	10.4% {
		border-top-color: rgba(44,44,44,0.5);
		border-right-color: rgba(55,55,55,0);
		border-bottom-color: rgba(66,66,66,0);
		border-left-color: rgba(33,33,33,0);
	}
	20.8% {
		border-top-color: rgba(44,44,44,0);
		border-right-color: rgba(55,55,55,0);
		border-bottom-color: rgba(66,66,66,0);
		border-left-color: rgba(33,33,33,0);
	}
	31.2% {
		border-top-color: rgba(44,44,44,0);
		border-right-color: rgba(55,55,55,0.5);
		border-bottom-color: rgba(66,66,66,0);
		border-left-color: rgba(33,33,33,0);
	}
	41.6% {
		border-top-color: rgba(44,44,44,0);
		border-right-color: rgba(55,55,55,0);
		border-bottom-color: rgba(66,66,66,0);
		border-left-color: rgba(33,33,33,0);
		transform: rotate(40deg);
	}
	52% {
		border-top-color: rgba(44,44,44,0);
		border-right-color: rgba(55,55,55,0);
		border-bottom-color: rgba(66,66,66,0.5);
		border-left-color: rgba(33,33,33,0);
	}
	62.4% {
		border-top-color: rgba(44,44,44,0);
		border-right-color: rgba(55,55,55,0);
		border-bottom-color: rgba(66,66,66,0);
		border-left-color: rgba(33,33,33,0);
	}
	72.8% {
		border-top-color: rgba(44,44,44,0);
		border-right-color: rgba(55,55,55,0);
		border-bottom-color: rgba(66,66,66,0);
		border-left-color: rgba(33,33,33,0.5);
	}
}

.loaderbefore {
	width: 50px;
	height:50px;
	border: 15px solid #00CCD6;
	border-radius: 50%;
	position: absolute;
	top: 0;
	z-index: 9;
}

.circular {
	position: absolute;
	top: -10px !important;
	left: -11px;
	width: 70px;
	height: 70px;
	border: 20px solid;
	border-color: #e6af4b #ff5e76 #A0CE4E #23D1B7;
	border-radius: 50%;
	opacity: 0.8;
	animation: poof 5s infinite;
}
@keyframes poof {
	0% {transform: scale(1,1) rotate(0deg); opacity: 0.2;}
	50% {transform: scale(4,4) rotate(360deg); opacity: 0;}
}
.another {
	transform: rotate(90deg);
	animation: poofity 5s infinite;
	animation-delay: 1s;
}
@keyframes poofity {
	0% {transform: scale(1,1) rotate(90deg); opacity: 0.1;}
	50% {transform: scale(4,4) rotate(-360deg); opacity: 0;}
}

.loader_text {
	font-size: 40px;
	position: absolute;
	top: 75px;
	left: -25px;
	font-family: "Baloo Thambi";
	color: #00CCD6;
	animation: opaa 10s infinite;
}
@keyframes opaa {
	0% {opacity: 1;}
	10% {opacity: 0.5}
	15% {opacity: 1;}
	30% {opacity: 1;}
	65% {opacity: 0.3;}
	90% {opacity: 0.8;}
}



@-webkit-keyframes loader3 {
	0% {
		width: 0;
	}
	70% {
		width: 100%;
		opacity: 1;
	}
	90% {
		opacity: 0;
		width: 100%;
	}
	100% {
		opacity: 0;
		width: 0;
	}
}

@keyframes loader3 {
	0% {
		width: 0;
	}
	70% {
		width: 100%;
		opacity: 1;
	}
	90% {
		opacity: 0;
		width: 100%;
	}
	100% {
		opacity: 0;
		width: 0;
	}
}