@media screen and (min-width: 2100px){
    #video img{
        width: 100%;
    }
    .cont_footer{
        position: fixed;
    }
}
@media screen and (min-width: 1400px) {
    h3{
        font-size: 20px;
    }
    p{
        font-size: 17px;
    }
    .Features-Summary table tbody tr td .child-textWrap span{
        font-size: 17px;
    }
    .magical-feature h3{        
        margin-bottom: 30px;
    }
    .fp-viewing-1 #magical{
    bottom: -1em;
}
.features-box h3,.features-block h3{
     font-size: 50px;
}

    .about-feature li{
        font-size: 16px;
    }
    .amazing-feature-text{
        font-size: 17px;
    }
    .video-title{
        font-size: 24px;        
    }
    .more_feature_txt {
       font-size: 20px;
       margin-bottom: 20px;
    }
    .screenshorts-slider {
        height: 653px;
        padding: 73px 113px 0 111px;
        width: 480px;
    }
    .screenshorts-slider-box::before {
        background-size: 100% 100%;
        bottom: 102px;
        height: 77px;
        right: 0;
        width: 19px;
    }
    .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
        bottom: -120px;
    }
    .mid-image {
        width: 250px;
        margin: 0 auto;
        position: relative;
    }
    .listing-box ul li {
        margin-top: 60px;
    }
    .listing-box ul li h3 {
        font-size: 20px;
    }
    .listing-box ul li p {
        font-size: 17px;
    }
}
@media screen and (max-width: 1399px){
    h3{
        font-size: 20px;
    }
}
@media screen and (max-width: 992px){
    h3{
        font-size: 14px;
    }
}
@media screen and (max-width: 1450px){
    .video-row{
        padding: 10px;
    }
    .Features-Summary table{
        margin: 0 auto;
    }
    .content h1{
        margin-top: 0;
    }
    .intuitive-box-img{
        text-align: center;
    }
    .intuitive-box-img img{
        width: 450px;
    }
    .footer-desktop{
        padding: 10px 0;
        height: auto;
    }
}
@media screen and (max-width: 1250px) {
    .header-box .container {
        padding-right: 40px;
        padding-left: 170px;
    }
    .social-icons ul li a i {
        font-size: 15px;
        height: 25px;
        line-height: 25px;
        width: 25px;
    }
    html {
        font-size: 14px;
    }
    .intuitive-box-img img {
        width: 498%;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1100px){
.section{
        padding: 35px 0;
         border-bottom: 1px solid #e1e1e1;

    }    

    .listing-box ul li h3{
        font-size: 17px;
    }
    .fp-section , .fp-tableCell{
        height: auto !important; 
    }
   #section1 .video{
        margin-bottom: 0px;
    }
    
    #section5{
        padding: 0px;
    }
    #section5 .fp-tableCell {
        padding: 35px 0;
    }
    .down{
        display: none;
    }
    
}
@media screen and (max-width: 1100px){
    .mt40{
        margin-top: 20px;
    }
 #video,.team-person-animation1,#magical,#features,.team-person-animation2,.team-person-animation3,.team-person-animation4,#download-ph1,#download-ph2,#download-ph3{
        bottom: 0;
    }     
.Features-Summary table{
        margin-bottom: 0px;
    }
    .table-responsive{
        margin-bottom: 0px;
    }    
    .subscribe-box .btn{
        position: static;
    }
    .subscribe-box{
        width: 100%;
        padding-right: 0px;
        text-align: center;
    }
    .subscribe-box .form-control{
        margin: 20px 0;
    }
}
@media screen and (max-width: 1024px) {
    .main .section.section3 .intro {
        vertical-align: middle;
    }
    .mb30{
        margin-bottom: 10px;
    }
    .tweet_slider h3{
        font-size: 15px;
        line-height: 1.4;
    }
    .subscribe-text{
        text-align: center;
    }
    .video_section .mb30{
        margin-bottom: 30px;
    }
    .subtitle{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .main section.section3,
    .main section.section0,
    .main section.section5 {
        background-size: cover;
    } 
    .title{
        letter-spacing: 1px;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .listing-box ul li h3{
        font-size: 15px;
    }   
    .title,
    .features-box h3 {
        font-size: 25px;
    }
    p,
    .features-box p {       
        margin-top: 0;
    }
    .intuitive-box-img img {
        width: 85%;
        margin: 0 auto;
        display: table;
    }
   .listing-box{
    margin-top: 20px;
   }
   .video_section .mt30{
    margin-top: 15px;
   }
    
    .section4 h3 {
        font-size: 20px;
    }
    .testimonials-box h4 {
        font-size: 16px;
    }
    .btn {
        font-size: 15px;
        padding: 8px 40px;
    }
    .social-icons {
        margin-top: 10px;
    }
    .footer {
        padding: 15px 0;
    }    
}
@media screen and (max-width: 991px) {

    .buttonsWrap .btn{
        font-size: 14px;
    }
     #video,.team-person-animation1,.team-person-animation2,.team-person-animation3,.team-person-animation4,#download-ph1,#download-ph2,#download-ph3{
        bottom: 0;
    }
    .social-icons {
        padding-right: 15px;
        margin-top: 2px;
    }
    .store-btn {
        max-width: 225px;
        margin-left: 0px;
    }
    .store-btn span {
        font-size: 12px;
    }
    .store-btn h3 {
        font-size: 17px;
    }
    .section0 .content {
        text-align: center;
    }
    .section0 .content h1:before {
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
    }
    .section0 .content h1 {
        position: relative;
        margin-bottom: 30px;
        padding: 30px 0;
        font-size: 25px;
    }
    .section0 .content h1 br {
        display: none;
    }
    .img-block li img {
        margin-top: -30px;
    }    
    .features-block h3 {
        font-size: 30px;
    }
   
    .features-block .container .row {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .Features-Summary table thead tr th {
        font-size: 25px;
    }
    .Features-Summary table tbody tr td .child-textWrap strong,
    table tbody tr td .child-textWrap span {
        font-size: 16px;
    }  
    .Features-Summary table tbody tr td .child-textWrap span{
        font-size: 15px;
    }      
    .screenshorts-slider {
        padding: 40px 77px 85px 63px;
        width: 300px;
    }
    .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
        bottom: -85px;
    }
    .about-feature{
        text-align: center;
    }
    .about-feature li{
        margin-right: 0px;
    }
     .features-hr .subtitle{
        font-size: 18px;
    }
}
@media screen and (max-width: 767px) {


 #video,.team-person-animation1,.team-person-animation2,.team-person-animation3,.team-person-animation4,#download-ph1,#download-ph2{
        bottom: 0;
    }
    #download-ph3{
        bottom: 12px;
    }
    .listing-box{
        margin-top: 20px;
    }
    .more_feature_txt{
        margin-bottom: 20px;
    }
    .fp-section , .fp-tableCell{
        height: auto !important; 
    }
    .fp-tableCell {
    border-bottom: 1px solid #e1e1e1;
}
.listing-box ul li h3 {
    font-size: 15px;
}
.mb50{
    margin-bottom: 30px;
}

.about .mb50{
    margin-bottom: 0px;
}

    #section0 .content h1,.play-apps-box{
        text-align: center;
    }
    .testimonial-background{
        overflow: hidden;
    }
    .pl0 {
        padding: 0;
    }
    .valign-wrapper{
        display: block;
    }
    .subscribe-box .btn {
        position: static;
    }
    .intro{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .home_ph{
        padding: 0px !important;
    }
    .home_ph_container{
        position: relative;
    }
    .home_ph_img{
        position: absolute;
        bottom: -15em;
    }
    .home_ph_txt{
        height: 44em;
    }
    .onepage-wrapper{
        height:auto;
    }
    .main .section{
        display: block !important;
    }
    .main .section .intro{
        height:auto;
        display: block !important;
    }   

    .down {
        display: none;
    }
    .main .section,
    .features-box {
        background-size: cover;
    }
    .header,
    section .footer {
        position: static;
    }
    .header-box {
        display: block !important;
    }
    .header-box .container {
        padding: 0 15px;
    }
    .navbar-toggle {
        padding: 9px;
        margin-right: 0;
    }
    .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .social-icons {
        position: absolute;
        right: 70px;
        top: 6px;
        width: 90px;
        padding-right: 0;
        z-index: 2
    }
    .close-sub {
        display: none;
    }
    .section0 {
        background-size: auto;
        background-position: center;
    }
    .section0 .content {
        text-align: center;
    }
    .store-btn {
        margin: 5px 0;
    }
    .main section {
        padding: 50px 0;
    }
    .section0 .content h1 {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .screenshorts-slider-box:before {
        background-size: 100% 100%;
        bottom: 63px;
        height: 52px;
    }
    .main section.section3 {
        padding-bottom: 0;
    }
    .bx-wrapper .bx-controls-direction a {
        height: 60px;
        width: 60px;
    }
    .bx-wrapper .bx-prev {
        left: -75px;
    }
    .bx-wrapper .bx-next {
        right: -75px;
    }
    .section4 h3 {
        font-size: 25px;
        width: 100%;
    }
    .testimonials-box {
        width: 100%;
    }
    .ContactWrap {
        padding-top: 30px;
    }
    .FeaturesWrap {
        margin-top: 0px;
    }
    .features-box h3 {
        font-size: 30px;
    }
    .features-box p {
        width: 100%;        
    }
    .features-block .container .row .col-sm-4,
    .features-block .container .row .col-sm-8,
    .features-block .container .row .col-sm-4 img {
        text-align: center;
    }
    .Features-Summary table {
        margin: 0;
        width: 805px;
    }
	.features_img{
		position:inherit;
		margin-bottom:30px;
	}
	.features_img img{
		margin:0 auto;
	}
	.title-left{
		text-align:center !important;
	}
	.title.title-left{
		margin-bottom:30px;
	}
	.title.title-left::before {
		left: 0;
		right: 0;
	}
	
	.features-block .row .pull-right{
		float:none !important;
	}
	
	.features-hr{
		padding-bottom:50px;
	}
   
    .listing-box.right ul li h3 {
        padding-left: 0;
        padding-right: 85px;
    }
    .listing-box.right ul li h3 i {
        left: auto;
        right: 0;
    }
    .listing-box ul li h3 i {
        font-size: 30px;
    }
    .mobile-features-li {
       margin-top: 40px !important;
    }
    section .footer {
        margin-bottom: -50px;
    }
    .features-box img {
        width: 100%;
    }
    .section0 .col-md-4 {
        float: left !important;
    }
    .content .sub-logo {
        text-align: center;
        width: auto;
        margin-top: 0;
        margin-bottom: 0px;
        font-size: 70px;
    }
    .subscribe-text{
        text-align: center;
        margin-top: 20px;
    }
    .table-responsive,#screenshots-owl,.tweet{
        margin-top: 20px;
    }
    .magical-feature h3{
        margin-top: 10px;
    }
    .subscribe-box {
        display: inline;
        text-align: center;
    }
    
    .subscribe-box .form-control {
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .screenshorts-slider {
        padding: 40px 77px 185px 63px;
    }
    .listing-box ul li {
        position: relative;
    }
    .listing-box.left ul li {
        padding-left: 65px;
        padding-right: 0;
        text-align: left;
    }
    .listing-box.left ul li i {
        right: auto;
        left: 0;
    }
    .listing-box.left ul li h3:before {
        right: auto;
        left: 0;
    }
    .section2 .phone-box {
        margin: 25px auto;
    }
    .listing-box.right ul li h3 {
        padding-right: 0;
    }
	.cont_data .fa{
		top:4px;
	}
	.cont_social_icon{
		margin-bottom:20px;
	}
}
@media screen and (max-width: 650px){
    .content h1 {
        font-size: 30px;
        padding-bottom: 10px;
        padding-top: 60px;
    }   
    .about ul{
        padding: 0;
    }
    .home_ph_txt p{
        margin: 0 auto;
        text-align: center;
        padding-bottom: 50px;
        width: 400px;
    }
    .features-block .container .row p{
        margin-bottom: 30px;
    }
    h2{
        font-size: 23px;
    }
    h3{
        margin-top: 5px;
        font-size: 14px;
    }
    h4{
        font-size: 14px;
    }    
    .features-box{
        padding: 30px 0;
    }
    .feature_content h1{
        padding-top: 0 !important;
    }
    .feature_content h4{
        padding: 10px 0;
    }
    .features-hr{
        padding-bottom: 30px;
    }
    #section5 h3{
        font-size: 22px;
    }
   
    .team-block{
        margin-bottom: 10px;
    }
    .tweet_slider h3{
        font-size: 15px;
        line-height: 1.4;
    }

    .subscribe-text h1{
        font-size: 28px;
    }
    .mb30{
        margin-bottom: 10px;
    }
    .mb_footer{
        margin-bottom: 30px;
    }
    .mb_footer .play-apps-box{
        margin: 10px 0px;
    }   
    .video_section .mt30{
        margin-top: 15px;
    }
    .footer p{
        margin: 0;
    }
    .title{
        letter-spacing: 1px;
        margin-bottom: 20px;
        margin-top: 0px;
    }    
    .subtitle{
        font-size: 18px;
    }
    .title_first_word{
        font-size: 35px;
    }
    .download_section .title{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 480px) {
    .listing-box ul li i{
        font-size: 18px;
    }
    .features-icon {   
    height: 40px;
    line-height: 22px;   
    width: 40px;
}
    .sl-wrapper .sl-close{
        right: 15px;
        top:5px;
    }
    .sl-navigation,.sl-counter{
        display: none !important;
    }
    .content h1 {
        font-size: 25px;
        padding-bottom: 10px;
        padding-top: 50px;
    }   
    .home_ph_txt p{
        padding-bottom: 40px;
    }
   #section8 {
    background-image: url("../images/subscribe12.html");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 70%;
}
    
    .fp-section , .fp-tableCell{
        height: auto !important; 
    }
    
    .title, .features-box h3{
        font-size: 23px;
    }
    .fp-tableCell{
        border-bottom: 1px solid #e1e1e1;
    }
    .listing-box ul li h3{
        font-size: 15px;
    }
    .pl0{
        padding: 0;
    }
    .video{
        margin-bottom: 0px;
    }
    .video-ph{
        margin-bottom: 5px;
    }
    #page-home .content h1{
        font-size: 22px;
        padding: 30px 2px;
        position: relative;
    }
    #page-home .content .sub-logo{
        font-size: 50px;
    }
    .store-btn {
        border-radius: 1px;
        color: #fff;
        display: inline-block;
        min-height: 48px;
        padding: 1px 2px 7px 50px;
        position: relative;
        text-align: left;
        width: 49%;
    }
    .store-btn img{
        width: 20px;
    }
    .store-btn span {
        font-size: 9px;
    }
    .home_ph_img {
        bottom: -16em;
        position: absolute;
    }
    .home_ph_txt {
        height: 35em;
    }
    .store-btn h3 {
        font-size: 10px;
    }
    .home_ph{
        padding: 0px !important;
    }
    .home_ph_container{
        position: relative;
    }
   
    .intro{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .onepage-wrapper{
        height:auto;
    }
    .social-icons {
        right: 50px;
    }
    .social-icons ul li a i {
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        width: 20px;
    }   
    
    .basic-modal-content {
        height: 260px;
    }
    .basic-modal-center iframe {
        height: 243px !important;
    }
    .img-block li img {
        margin-top: -10px;
    }
    .iphone-feature-img {
        width: 160px;
    }
    .play-apps-box img{
        width: 140px;
    }
    .title_watermark{
        display: none;
    }
}

@media (min-width:320px) and (max-width : 340px){
     .slide_back_cell_height .fp-tableCell{
    height: 540px !important;
}
    .home_ph_txt p{
        width: 260px;
        padding-bottom: 25px;
        padding-top: 0;
    }
    .home_ph_txt{
        height: 30em;
    }
    .play-apps-box img{
        width: 140px;
    }
    .mr15{
        margin-right: 0px;
    }
    #map {
        height: 900px;
    }
    .inner-box {   
        margin-bottom: 20px; 
        margin-left: 0px;
        width: 290px;
    }
    .map-boxes{
        padding: 50px 0;
    }

}

@media (min-width:360px) and (max-width : 479px){
    .slide_back_cell_height .fp-tableCell{
    height: 630px !important;
}
    .home_ph_txt p{
        width: 320px;
        padding-top: 10px;
    }
    #map {
        height: 900px;
    }
    .inner-box {   
        margin-bottom: 20px; 
        margin-left: 0px;
        width: 290px;
    }
    .map-boxes{
        padding: 50px 0;
    }    
}

@media only screen and (min-width: 481px) and (max-width: 650px){
     .slide_back_cell_height .fp-tableCell{
    height: 792px !important;
}
    .title_watermark{
        font-size: 70px;
        margin-left: -30px;
        margin-top: -40px;
        top:50%;
    }
    #map{
        height: 600px;
    }
    .map-boxes{
        padding: 50px 0;
        width: auto;
    }
    .inner-box{       
        width: 255px; 
        margin-bottom: 5px;       
    }
    .inner-box:first-child{
        margin-left: 0px;
    }
    .inner-box h3{
        font-size: 23px;
    }
    .inner-box p{
        font-size: 11px;
    }
    .inner_box_tab{
        margin: 20px 175px;
    }
}


@media (min-width:761px) and (max-width : 959px){
    .home_ph_2 {
    display: block !important;
    margin-top: -201px;
    position: absolute;
    right: -3em;
    top: 50%;
    width: 200px;
   }
    .slide_back_cell_height{
        padding: 0 !important;
    }
     .slide_back_cell_height .fp-tableCell{    
    height: 459px !important;    
}

    .logo{
        top:5px;
    }
    .navbar-nav > li > a{
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 11px;
    }
    .features-block h3{
        margin-top: 20px;
    }
    h2{
        font-size: 23px;
    }
    h4{
        font-size: 14px;
    }
    h3{
        margin-top: 5px;
    }
    .play-apps-box img{
        width: 160px;
    }
    .content h1{
        font-size: 28px;
    }
    #map{
        height: 640px;
    }
    .map-boxes{
        padding: 50px 0;
        width: auto;
    }
    .inner-box{        
        width: 340px;
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .inner_box_tab{
        margin: 30px 220px;
    }
}
@media (min-width:960px) and (max-width : 1023px){
   .slide_back_cell_height{
    padding: 0 !important;
   }
    .slide_back_cell_height .fp-tableCell{
    height: 640px !important;
}
    .features-block h2{
        font-size: 25px;
    }
    .logo{
        top:5px;
    }
    .play-apps-box img{
        width: 160px;
    }
    .navbar-nav > li > a{
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 11px;
    }
    .home_ph_2 {
    margin-top: -201px;
    position: absolute;
    right: -90px;
    top: 50%;
    width: 200px;
    z-index: -1;
    display: block !important;
    }
    .content h1{
        font-size: 28px;
    }
    #map{
        height: 600px;
    }
    .map-boxes{
        padding: 50px 0;
        width: auto;
    }
    .inner-box{
        margin-bottom: 5px;
    }
    .inner-box p{
        font-size: 13px;
    }
    .inner_box_tab{
        margin: 30px 275px;
    }
    .title{
        margin-bottom: 30px;
    }
    .video_section .mt30{
        margin-top: 0px;
    }
    .subscribe-text{
        text-align: center;
    }
    h3{
        margin-top: 0;
    }
}
@media (min-width:1024px) and (max-width : 1279px){
    .slide_back_cell_height{
        padding: 0;
    }
      .slide_back_cell_height .fp-tableCell{
    height: 768px !important;
}
    .logo{
        top:5px;
    }
    .navbar-nav > li > a{
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 11px;
    }
    #map{
        height: 600px;
    }
    .map-boxes{
        padding: 50px 0;
        width: auto;
    }
    .inner-box{
        margin-bottom: 5px;
    }    
    .inner_box_tab{
        margin: 30px 275px;
    }
    .title{
        margin-bottom: 25px;
    }
    .video_section .mt30{
        margin-top: 0px;
    }
    .subscribe-text{
        text-align: center;
    }
    h3{
        margin-top: 0;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1000px){
    .section{
        padding: 35px 0;
    }
    .down{
        display: none;
    }
    .listing-box ul li h3{
        font-size: 17px;
    }
    .fp-section , .fp-tableCell{
        height: auto !important; 
    }
   #section1 .video{
        margin-bottom: 0px;
    }
    
    #section5{
        padding: 0px;
    }
    #section5 .fp-tableCell{
        padding:35px 0;
    }
    .fp-section.fp-table, .fp-slide.fp-table {
    border-bottom: 1px solid #e1e1e1;
}
    .subscribe-box{
        padding-right: 0px;
    }
    .subscribe-box .form-control{
        margin:20px 0;
    }
    .subscribe-box .btn{
        top:20px;
    }
    .subscribe-text .mb50{
        margin-bottom: 30px;
    }
    .tweet_slider h3 {
    font-size: 15px;
    line-height: 1.4;
}
}

@media only screen and (min-width: 1260px) and (max-width: 1500px){
    .magical-feature h3{
        margin-top: 0;
        margin-bottom: 30px;
    }
    .about ul{
        padding: 15px 0;
    }
    .listing-box ul li h3{
        font-size: 20px;
    }
    .subscribe-box .form-control{
        margin:20px 0;
    }
    .subscribe-box .btn{
        top:20px;
    }
}

